@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.25s ease-in;
}


.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.activeInput {
    @apply outline outline-1 outline-slate-300
}

/* width */
::-webkit-scrollbar {
    height: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #808080;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffffff;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #cccccc;
  }
